</div>

<!--PRINCIPIO FOOTER-->
    <div class="card-footer">
        <a class="float-right" href="mailto:miel@unlam.edu.ar" target="_top">miel@unlam.edu.ar</a>
        <label class="float-right mr-3">Departamento de Ingeniería e Investigaciones Tecnológicas - Grupo 6 - 2021</label>
    </div>
    <!--FIN FOOTER-->


</body>